/* Icons from directory "" */
.icon-github,.icon-github\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-github-dims{width:26px;height:22px}
.icon-in,.icon-in\:regular{background-image:url('icons/icons.svg');background-position:0 -22px;background-repeat:no-repeat}
.icon-in-dims{width:24px;height:22px}
.icon-vk,.icon-vk\:regular{background-image:url('icons/icons.svg');background-position:0 -44px;background-repeat:no-repeat}
.icon-vk-dims{width:31px;height:17px}