* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    @include pc {
        font-size: 14px;
    }
    @include tablets {
        font-size: 12px;
    }
    @include phones {
        font-size: 11px;
    }
}
body {
    margin: 0;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    background-color: $cream;
    overflow: hidden;
    display: flex;
    justify-content: center;
    // position: relative;
  
    
}
ul,li {
   list-style-type: none;
   padding: 0;
   margin: 0; 
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;
    width: rem(1800px);
    padding: 0;
    margin: 0 auto;
    display: grid;
    $col-template: '1fr';
    $row-template: '390px 1fr 180px';
    grid-template-columns: #{$col-template};
    grid-template-rows: #{$row-template};
    grid-template-areas:
        "blockHeader"
        "blockContent"
        "blockFooter";

        @include pc {
            min-width: rem(1200px);
        }
        @include tablets {
            min-width: rem(768px);
        }
        @include phones {
            min-width: rem(420px);
        }
}
.large-container {
    display: grid;
    $col-template: '1fr';
    $row-template: '600px 1fr 180px';
    grid-template-columns: #{$col-template};
    grid-template-rows: #{$row-template};
    grid-template-areas:
        "blockHeader"
        "blockContent"
        "blockFooter"
}
.header {
    grid-area: blockHeader;
    position: relative;
}
.content {
    grid-area: blockContent;
    position: relative;
}
.footer {
    grid-area: blockFooter;
    position: relative;
}