* {
    box-sizing: border-box;
    line-height: 1.42;
}
.wrapper {
    width: 100vw;
    position: relative;
    background-color: $cream;
}
ul,li {
   list-style-type: none;
   padding: 0;
   margin: 0; 
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}
.container {
    width: 1800px;
    min-height: 100%;
    display: grid;
    $col-template: '1fr';
    $row-template: '390px 1fr 180px';
    grid-template-columns: #{$col-template};
    grid-template-rows: #{$row-template};
    grid-template-areas:
        "blockHeader"
        "blockContent"
        "blockFooter"
}
.header {
    grid-area: blockHeader;
}
.content {
    grid-area: blockContent;
}
.footer {
    grid-area: blockFooter;
}