$black: #000000;
$white: #ffffff;
$grey: #999999;
$blue: #083c96;
$cream: #faf8f0;

@import './_fonts.scss';
@import './_base.scss';
@import './sections/_header.scss';
@import './sections/_footer.scss';
@import './sections/_socials.scss';
@import './sections/_hamburger-menu.scss';
@import './sections/_navigation.scss';
@import './sections/_owner.scss';
@import './pages/index/_index.scss';
@import './pages/blog/_blog.scss';
@import './pages/about/_about.scss';


