extends ../../base

block head
    title index page
block content
    .greeting
        section.greeting__section.section
            .greeting__button
                button.authorization-button Авторизоваться
            .intro.greeting__intro
                .intro__owner
                    .intro__card
                        .intro__photo
                            img(class='intro__img' src=require("../../common/images/avatar.jpg"), alt="Веб-разработчик")
                        .intro__title 
                            h2.intro__title.title Никита Скородумов
                            span.intro__text Личный сайт веб-разработчика
                    .intro__socials
                        .socials.socials__intro
                            ul.socials__list
                                li.socials__item
                                    a.socials__link(href="https://vk.com", target='_blank')
                                        svg.socials__link_icon(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink")
                                            use(xlink:href="#icon-vk")
                                li.socials__item
                                    a.socials__link(href="https://vk.com", target='_blank')
                                        svg.socials__link_icon(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink")
                                            use(xlink:href="#icon-github")
                                li.socials__item
                                    a.socials__link(href="https://vk.com", target='_blank')
                                        svg.socials__link_icon(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink")
                                            use(xlink:href="#icon-in")
                                //- li.socials__item
                                //-     a.socials__link(href="", target='_blank')
                                //-         svg.socials__link_icon
                                //-             use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="common/images/sprite.svg#github") 
                                //- li.socials__item
                                //-     a.socials__link(href="", target='_blank')
                                //-         svg.socials__link_icon
                                //-             use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="common/images/sprite.svg#in")             
                .intro__nav
                    .menu.intro__menu
                        ul.menu__list
                            li.menu__item.menu__item_works Мои работы
                            li.menu__item.menu__item_about Обо мне
                            li.menu__item.menu__item.blog Блог
            .greeting__about
                span.greeting__text © Скородумов Никита | Создано с любовью в LoftSchool | 2017