.hamburger-menu {
    position: absolute;
    top: 2vw;
    right: 2vw;
}
.hamburger__line-block {
    width: rem(40px);
    height: rem(35px);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
}
.hamburger-menu__line {
    width: rem(40px);
    height: rem(5px);
    background: $white;
    display: inline-block;
    border-radius: rem(2px);

}