.owner-block {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.title-owner {
    font-family: 'sansus_webissimoregular';
    font-size: rem(63px);
}
.intro__photo {
    width: rem(142px);
    height: rem(142px);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: rem(15px);
    z-index: 100;
}
.intro__img {
    max-width: 100%;
    display: block;
    z-index: 100;
}
.intro__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.intro__text {
    font-family: 'robotoregular';
    font-size: rem(16px);
}
.intro__title, .intro__text {
    color: $white;
    text-align: center;
    z-index: 100;
}
.owner__bg {
    width: rem(445px);
    height: rem(300px);
    fill: $white;
    opacity: .2;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    transition: .5s;
    &:hover {
        opacity: 1;
    }
}
.owner__stars {
    z-index: 10;
}