.socials {
    position: absolute;
    top: 28px;
    left: 30px;
}
.socials__item {
    margin-right: 25px;
    &:last-child {
        margin-right: 0;
    }
}
.socials__list {
    display: flex;
}
.socials__link {
    display: block;
}
.socials__icon {
    width: 30px;
    height: 20px;
    fill: $white;
    transition: all .5s;
    &:hover {
        fill: #0548be;
    }
}