.socials {
    position: absolute;
    top: 2vw;
    left: 2vw;
}
.socials__item {
    margin-right: rem(25px);
    &:last-child {
        margin-right: 0;
    }
}
.socials__list {
    display: flex;
}
.socials__link {
    display: block;
}
.socials__icon {
    width: rem(30px);
    height: rem(20px);
    fill: $white;
    transition: all .5s;
    &:hover {
        fill: #0548be;
    }
}