extends ../../base

block head
    title Блог
block content
    h1 Блог
        li
            h2 Article
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        li    
            h2 Article 2
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        li
            h2 Article 3
            p Lorem, ipsum dolor.