extends ../../base

block head
    title Блог
block content
    .container.blog-container
        .greeting__menu(id="hamburger-menu")
            ul.greeting__menu_list
                li.greeting__menu_item
                    a.greeting__menu_link(href="./my-works.html") Мои работы
                li.greeting__menu_item
                    a.greeting__menu_link(href="./about.html") Обо мне
                li.greeting__menu_item
                    a.greeting__menu_link(href="./blog.html") Блог
                li.greeting__menu_item
                    a.greeting__menu_link(href="./index.html") Авторизоваться
        header.header.blog-header
            .socials
                ul.socials__list
                    li.socials__item
                        a.socials__link(href="https://vk.com", target='_blank')
                            svg.socials__icon(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink")
                                use(xlink:href="#icon-vk" style="width: 100%;")
                    li.socials__item
                        a.socials__link(href="https://vk.com", target='_blank')
                            svg.socials__icon(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink")
                                use(xlink:href="#icon-github" style="width: 100%;")
                    li.socials__item
                        a.socials__link(href="https://vk.com", target='_blank')
                            svg.socials__icon(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink")
                                use(xlink:href="#icon-in" style="width: 100%;")
            .hamburger-menu(id='hamburgerButton')
                .hamburger-menu__picture
                    svg.hamburger-menu__pic(id="hamburger-plus" xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink")
                        use(xlink:href="#icon-plus" style="width: 100%;")
                .hamburger__line-block
                    svg.hamburger-menu__pic.hamburger-menu__pic_active(id="lineBlock" xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink")
                        use(xlink:href="#icon-hamburger" style="width: 100%;")
            .owner-block
                .intro__card
                        .intro__photo
                            img(class='intro__img' src=require("../../common/images/avatar.jpg"), alt="Веб-разработчик")
                        svg.owner__bg(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink")
                                use(xlink:href="#icon-stars1" style="width: 100%; min-height:100%;" class='owner__stars')
                        .intro__title 
                            h2.title-owner Блог
                            span.intro__text Статьи, которые я написал
            .header__down
                svg.header__bg(xmlns="http://www.w3.org/2000/svg",viewBox="0 0 1000 85",preserveAspectRatio="none")
                    polygon.header__triangle_left(points="0,0 0,86 500.8,86 500.8,75.5")
                    polygon.header__triangle_right(points="1000,0 1000,86 500,86 500,75.5")
        section.content.blog-content
            .aside.content__aside
                ul.aside__list
                    li.aside__item.aside__item_fix
                        a.aside__link.aside__link_fix(href="#") Самое важное в SASS
                    li.aside__item
                        a.aside__link(href="#") Приёмы в вёрстке, без которых не обходится ни один сайт
            .article.content__article
                ul.article__list
                    li.article__item
                        h3.article__title Самое важное в SASS
                        span.article__date 22 ноября 2016
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                    li.article__item
                        h3.article__title Приёмы в вёрстке, без которых не обходится ни один сайт
                        span.article__date 22 ноября 2016
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        footer.footer.blog-footer
            .footer__container
                .footer__col.footer__col_left
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                .footer__col.footer__col_center
                    .footer__nav.nav
                        ul.nav__list
                            li.nav__item.nav__item_footer
                            a.nav__link(href="./my-works.html") Мои работы
                            li.nav__item.nav__item_footer
                            a.nav__link(href="./about.html") Обо мне
                            li.nav__item.nav__item_footer
                            a.nav__link(href="./blog.html") Блог
                            li.nav__item.nav__item_footer
                            a.nav__link(href="./index.html") Авторизация
                    .footer__socials
                        ul.socials__list
                            li.socials__item
                                a.socials__link(href="https://vk.com", target='_blank')
                                    svg.socials__icon.socials__icon_footer(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink")
                                        use(xlink:href="#icon-vk" style="width: 100%;")
                            li.socials__item
                                a.socials__link(href="https://vk.com", target='_blank')
                                    svg.socials__icon.socials__icon_footer(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink")
                                        use(xlink:href="#icon-github" style="width: 100%;")
                            li.socials__item
                                a.socials__link(href="https://vk.com", target='_blank')
                                    svg.socials__icon.socials__icon_footer(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink")
                                        use(xlink:href="#icon-in" style="width: 100%;")
                .footer__col.footer__col_right
                    ul.footer__contacts
                        li.footer__contacts-item skype_floriel1
                        li.footer__contacts-item mr-zerx@yandex.ru
                        li.footer__contacts-item +79223057956
                        li.footer__contacts-item г. Пермь        
            p.footer__copyright.copyright © Скородумов Никита | Создано с любовью в LoftSchool | 2018