.about__block {
    display: flex;
    width: 100%;
}
.about__left {
    background-color: #f2f0e8;
    width: 50%;
    display: flex;
    // flex-direction: column;
    padding-left: rem(120px);
    position: relative;
}
.about__left-title {
    width: 45%;
}
.about__left-content {
    width: 55%;
    display: flex;
    flex-direction: column;
}
.header-about__triangle_left {
    fill: #f2f0e8;
}
.header-about__triangle_right {
    fill:#eae8e2;
}
.about__left_img {
    width: rem(445px);
    height: rem(400px);
    overflow: hidden;
    z-index: 100;
}
.about__img {
    max-width: 100%;
}
.about__title {
    font-family: 'sansus_webissimoregular';
    font-size: rem(63px);
    color: #474b57;
}

.about__title_bg {
    fill: #dbe0e6;
    stroke: #dbe0e6;
    transition: all .5s;
    width: rem(260px);
    height: rem(170px);
    position: absolute;
    transform: rotate(180deg);
    bottom: 82%;
    right: 64%;
    fill-opacity: .8;
    stroke-opacity: .8;

    &:hover {
        fill: #474b57;
        stroke: #474b57;
    }
}
.about__left_info {
    align-self: center;
    margin-bottom: rem(35px);
}
.about__left_title {
    font-size: rem(35px);
    display: inline-block;
    text-align: center;
    padding: rem(25px) rem(10px);
    position: relative;
     &:after {
        content: '';
        display: block;
        height: rem(3px);
        width: rem(90px);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #98999c;
    }

}
.about__left_text {
    font-family: 'robotoregular';
    font-size: rem(16px);
    color: #474b57;
    margin-bottom: rem(120px);
}
.about__right {
    background-color: #eae8e2;
    width: 50%;
    padding-left: rem(36px);
    padding-right: rem(130px);
}
.about__right_title {
    text-align: center;
    position: relative;
    font-size: rem(35px);
    font-family: 'sansus_webissimoregular';
    color: #474b57;
    padding-bottom: rem(30px);
    &:after {
        content: '';
        display: block;
        height: rem(3px);
        width: rem(90px);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #98999c;
    }
}
.about__right_text {
    font-family: 'robotoregular';
    font-size: rem(16px);
    color: #474b57;
    margin-top: rem(30px);
}
.skills__list_item {
    margin-bottom: rem(40px);
}
.skills__title {
    font-family: 'robotomedium';
    font-size: rem(28px);
    color: #474b57;
}
.circle {
    display: flex;
}
.circle__item {
    position: relative;
}
.circle__svg {
    width: rem(122px);
    height: rem(122px);
    fill: transparent;
    stroke-width: rem(20px);
    margin-right: rem(40px);
    margin-top: rem(15px);

    &:last-child {
        margin-right: 0;
    }
}
.circle__first {
    stroke: #dfdcd5;
}
.circle__second {
    stroke-dasharray: .0010 282.6;
    transition: all 1s ;
    stroke: #91aad4;
}
.circle__title {
    width: rem(70px);
    font-family: 'robotomedium';
    font-size: rem(14px);
    color: #243994;
    position: absolute;
    transform: translate(-50%, -50%);
    display: inline-block;
    top: 55%;
    left: 38%;
    text-align: center;
}
.circle__svg:hover .circle-0 {
    stroke-dasharray: .001 282.6;
 }
 .circle__svg:hover .circle-5 {
   stroke-dasharray: 14.13 282.6;
   stroke: #91aad4;
 }
 .circle__svg:hover .circle-10 {
    stroke-dasharray: 28.26 282.6;
    stroke: #91aad4;
 }
 .circle__svg:hover .circle-15 {
    stroke-dasharray: 42.39 282.6;
    stroke: #91aad4;
 }
 .circle__svg:hover .circle-20 {
    stroke-dasharray: 56.52 282.6;
    stroke: #91aad4;
 }
 .circle__svg:hover .circle-25 {
    stroke-dasharray: 70.65 282.6;
    stroke: #91aad4;
 }
 .circle__svg:hover .circle-30 {
    stroke-dasharray: 84.78 282.6;
    stroke: #91aad4;
 }
 .circle__svg:hover .circle-35 {
    stroke-dasharray: 98.91 282.6;
    stroke: #5986d3;
 }
 .circle__svg:hover .circle-40 {
    stroke-dasharray: 113.04 282.6;
    stroke: #5986d3;
 }
 .circle__svg:hover .circle-45 {
    stroke-dasharray: 127.17 282.6;
    stroke: #5986d3;
 }
 .circle__svg:hover .circle-50 {
    stroke-dasharray: 141.3 282.6;
    stroke: #5986d3;
 }
 .circle__svg:hover .circle-55 {
    stroke-dasharray: 155.43 282.6;
    stroke: #5986d3;
 }
 .circle__svg:hover .circle-60 {
    stroke-dasharray: 169.56 282.6;
    stroke: #5986d3;
 }
 .circle__svg:hover .circle-65 {
    stroke-dasharray: 183.69 282.6;
    stroke: #5986d3;
 }
 .circle__svg:hover .circle-70 {
    stroke-dasharray: 197.82 282.6;
    stroke: #004cd1;
 }
 .circle__svg:hover .circle-75 {
    stroke-dasharray: 211.95 282.6;
    stroke: #004cd1;
 }
 .circle__svg:hover .circle-80 {
    stroke-dasharray: 226.08 282.6;
    stroke: #004cd1;
 }
 .circle__svg:hover .circle-85 {
    stroke-dasharray: 240.21 282.6;
    stroke: #004cd1;
 }
 .circle__svg:hover .circle-90 {
    stroke-dasharray: 254.34 282.6;
    stroke: #004cd1;
 }
 .circle__svg:hover .circle-95 {
    stroke-dasharray: 268.47 282.6;
    stroke: #004cd1;
 }
 .circle__svg:hover .circle-100 {
    stroke-dasharray: 282.6 282.6;
    stroke: #004cd1;
 }
 .about-map {
    width: 100%;
    height: 100vh;
    // background: url('../common/images/bg-map.png') no-repeat center center;
    // background-color: lightblue;
    background-size: cover;
    position: relative;
 }
 .map__google {
     width: 100%;
     height: 100%;
     z-index: 1;
     position: relative;
     overflow: hidden;
 }
 .map__face {
     position: absolute;
 }
 .map__contacts {
     width: rem(580px);
     background-color: rgba(255, 255, 255, 0.5);
     position: absolute;
     transform: translate(-50%, -50%);
     top: 50%;
     left: 50%;
     padding: rem(40px) rem(20px) rem(10px) rem(20px);
     z-index: 10;

}
.map__info {
    margin-bottom: rem(30px);
}
.map__title {
    font-size: rem(35px);
    text-align: center;
    position: relative;
    padding-bottom: rem(30px);
     &:after {
        content: '';
        display: block;
        height: rem(3px);
        width: rem(90px);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #98999c;
    }
 }
.map__icon {
    width: rem(45px);
    height: rem(45px);
    fill: #024dd1;
    margin-right: rem(10px);
 }
 .map__owner {
    font-family: 'robotomedium';
    font-size: rem(16px);
    color: #474b57;
    text-decoration: none;
 }
.map__list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
 }
.map__item {
    width: 50%;
    white-space: nowrap;
    margin-bottom: rem(30px);

    &:last-child {
        margin-bottom: 0;
    }
}
.map__contact-block {
    display: flex;
    align-items: center;
}
.arrow__link {
    display: block;
}
.arrow__svg {
    width: rem(25px);
    height: rem(20px);
    fill: #c9c8cc;
    transition: all .4s;

    &:hover {
        fill: $white;
    }
}
.arrow-down {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 85%;
    left: 50%;
    z-index: 200;
}